# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Logs and local config
*.log
*.env
*.sqlite3

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
